*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(19, 19, 136);
}
h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;
}
form{
    width: 90%;
    max-width: 700%;
    margin: auto;
    background-color: rgb(109, 102, 102);
    padding: 40px;
    border: 15px;
    box-shadow: 0, 0, 10px blue;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.radio{
gap: 20px;
align-items: center;
}
button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: green;
    font-size: 1rem;
    cursor: pointer;
    transition: 0,3s;
}
button:hover{
    background-color: aliceblue;
}
footer{
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    background-color: aquamarine;
    font-size: 1.1rem;
}


